{% extends 'base.html' %}
{%block content %}
<body style="background-image: url('https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?cs=srgb&dl=pexels-johannes-plenio-1103970.jpg&fm=jpg');">    
	<header class="container">
	<nav class="flex space-between">
	 <div class="left flex items-center">
	<img src="https://as2.ftcdn.net/v2/jpg/03/10/22/23/1000_F_310222330_VIQm2f0NSXQpAeSTQa9MUp5KEWQmlje7.jpg", name = "GRAB-IT", height="150px", width="150px">
		<b>GRAB-IT</b>
		<style>
			h1 {
				position: absolute;
				top: 0;
				right: 0;
				margin: 20px;
			}
		</style>
		
		<h1>
			Customer_id : {{result}}
		</h1>
	<ul class="flex items-center justify-center uppercase semibold">
		 <li>Men</li>
		 <li>Women</li>
		 <li>Kids</li>
		 <li>Home</li>
		 <li>Beauty</li>
		 <li>Studio
		 </li>
	   </ul>
	 </div>
	</nav>
	</header>
	<form action ="add2" method ="post" style="color: black;font-size:18px;">
		{% csrf_token %}
		Enter the product name : <input type="text" name = "num7"><br>
		<button type="submit">Search</button>
	</form> 

	<section class="container section1 flex flex-wrap">
		<img class="homeImg" src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2022/6/9/166d4987-cb62-402b-81ea-e7dec15487c71654785362738-Shop-By-Category.jpg"/>
	  </section>
	<section class="container section1 flex flex-wrap">
		<img class="itemImg" src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/6/9/06d44453-7735-4ea2-a146-1fbd8a5bc48e1654766637157-Shop-By-Category_HP_02.jpg"/>
		<img class="itemImg" src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/6/9/1de91390-00d9-4de3-8640-a47686a60d9c1654766637166-Shop-By-Category_HP_03.jpg"/>
		<img class="itemImg" src="https://assets.myntassets.com/f_webp,w_163,c_limit,fl_progressive,dpr_2.0/assets/images/2022/6/9/8f307ca0-ae6b-4bc9-944e-c8447ab871f81654766637174-Shop-By-Category_HP_04.jpg"/>
		</section>
	<section class="container section1 flex flex-wrap">
	  <img class="itemImg" src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2022/5/27/48f59438-2806-47c5-bc44-e6b6882865c71653643704628-QL_Watches.jpg"/>
	  <img class="itemImg" src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2022/5/27/fcb5c92a-f48b-4959-af1d-a18e05cf4f4e1653643704557-QL_TrackPants.jpg"/>
	  <img class="itemImg" src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2022/5/27/26176aa9-ebc4-42f6-8977-a468286082521653643704138-QL_-Skincare.jpg"/>
	  
	</section>
	<section class="container section1 flex flex-wrap">
	  <img class="itemImg" src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2022/5/27/a1adaa79-f742-45a1-9ad6-59fedd33aa421653643704538-QL_Tops_Tees.jpg"/>
	  <img class="itemImg" src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2022/5/27/9c3501e3-22b0-47b0-b60a-2de70f3c8f951653643704178-QL_Bras_Briefs.jpg"/>
	  <img class="itemImg" src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2022/5/27/8507ccd1-92ee-4e1b-a8e1-b9468a246b401653643704242-QL_FormalShoes.jpg"/>
	  
	</section>
	<section class="container section1 flex flex-wrap">
	  <img class="homeImg" src=" https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2022/6/9/8d1fc23b-892d-4e4d-aed2-0697a5104d341654785362666-Budget-Buys.jpg"/>
	</section>
	
	 <section class="container section1 flex flex-wrap">
	  <img class="itemImg" src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2022/5/24/8972e6d6-fa51-477c-9191-80bcb98abc571653371609423-BudgetBuys_Innerwear.jpg"/>
	  <img class="itemImg" src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2022/5/24/f54d3d79-4d55-4353-8dda-61be55def9371653371609475-BudgetBuys_Kurtas_Sets.jpg"/>
	  <img class="itemImg" src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2022/5/24/d1b24c63-35f0-4800-8673-e404eff3678c1653371609502-BudgetBuys_Loungewear.jpg"/>
	  </section>
	
	<section class="container section1 flex flex-wrap">
	  <img class="homeImg" src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2022/6/9/50c50bfe-67ac-44c0-ba7a-f76e59549f311654785362626-Best-Of-Clothing.jpg"/>
	</section>
	  <section class="container section1 flex flex-wrap">
	  <img class="itemImg" src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2022/5/26/5ed1bde8-f82a-427b-a71b-a38ec997c9031653557668365-Forever_21.jpg"/>
	  <img class="itemImg" src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2022/5/26/d21dcf05-a081-4f98-be1a-ab1d7f6bac261653557668623-Sassafras.jpg"/>
	  <img class="itemImg" src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2022/5/26/d45fc4ac-1bbd-4cf2-8126-9a3791f64f731653557668275-Berrylush.jpg"/>
	  </section>
	
	<section class="container section1 flex flex-wrap">
	  <img class="homeImg" src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2022/6/9/b7597c7e-bded-427a-b062-2b8872ba00f51654785362618-Best-Of-Beauty-_-Personal-Care.jpg"/>
	</section>
	  <section class="container section1 flex flex-wrap">
	  <img class="itemImg" src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2022/5/26/e6d88126-c27d-4337-980b-a35b1e0872501653558945963-Maybelline.jpg"/>
	  <img class="itemImg" src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2022/5/26/7747b639-fccd-4ccf-b54a-562b2861d4681653558945909-L-Oreal_Professionnel.jpg"/>
	  <img class="itemImg" src="https://assets.myntassets.com/f_webp,w_196,c_limit,fl_progressive,dpr_2.0/assets/images/2022/5/26/5bffea6c-4afb-422d-a2c9-d2e876328f691653558946077-Sugar.jpg"/>
	  </section>

	  
   
	
	<footer>
	  Copyright &copy; GRAB-IT.com | All rights reserved
	</footer>
  </body>
  
{%endblock%}